doctype html
head
  title Synchronized Tank Battle with NN Visualization
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  script(src='/socket.io/socket.io.js')
  link(rel='stylesheet' href='/public/css/tanks.css')
  script.
    if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
            // Redirect to the home page if the page was reloaded
            window.location.href = '/';
        } else {
            // Store a flag in sessionStorage to indicate a valid visit
            sessionStorage.setItem('serverData', 'true');
        }
#main
  #appInfo
    #inputApp
      #InputContainer
        input#LR(type='number' min='0' max='1')
        button(onclick='handleNumber()') Submit
        input#DE(type='number')
        button(onclick='handleNumber()') Submit
      #app
        #info
          canvas#lossChart
          #infoPanel
          #outputPanel
        .life-containerL
          #lifeBarL.life-barL
        .life-containerR
          #lifeBarR.life-barR
    #nnVisualization
#countdown
script(src='script.js')
