/* Global styles */
body {
  margin: 0;
  padding: 0;
  /* background: #38D2D2;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 52%, rgba(0,212,255,1) 100%);
    scroll-behavior: smooth; */
}

html {
  scroll-behavior: smooth;
}



/* Wrapper styles */
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  width: 410px;
  position: relative;
  margin: 20px;

  margin-left: auto;
  margin-right: auto;
}

.content {
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
}

.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: all 250ms;
  margin-left: auto;
  margin-right: auto;
}

.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: all 250ms;
  margin-left: auto;
  margin-right: auto;
}

/* .wrapper section .item:hover {

  transform: scale(1.2);
} */

.wrapper section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.wrapper section .item .duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
}

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 5em;
  /* Adjust size as needed */
  text-align: center;
  z-index: 1000;
  /* Ensure buttons are above other content */
  transition: transform 250ms;
}

.arrow__btn.left-arrow {
  left: 50%;
  /* Center horizontally */
  top: -20px;
  /* Position at the top */
  color: #38D2D2;
  transform: translateX(-50%);
}

.arrow__btn.right-arrow {
  left: 50%;
  /* Center horizontally */
  bottom: -25px;
  /* Position at the bottom */
  color: #38D2D2;
  transform: translateX(-50%);
}

.arrow__btn:hover {
  transform: translateX(-50%) scale(1.6);
  /* Ensure consistent centering */
}